<div >
  <br />
 
  <p style="color:powderblue;">
      we are <strong>ARGON</strong> and we don't care!
      what about you?
  </p>

  <button  id="reg" type="button" class="btn btn-success" (click)="registerMode()">Get Started</button>
 
<div>
    <div *ngIf="register" class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
          </div>
        </div>
      </div>
  </div>
</div>

<div>
  <form >
  <div id="youtube">
    
  <div *ngFor="let p of post" id="gencontainer" class="mb-2">
  <div id="heading" class="row" >
      <p for="" id="headingLabel" >{{p.text}}</p>
  </div>
      <iframe [class.thumbnail]="thumbnail" [src]='sanitizer.bypassSecurityTrustResourceUrl(p.video_link)' width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
  </div>
  </div>
</form>
</div>



