



<div id="gencontainer" *ngFor="let p of post">
    <div class="row" id="postinfo">
        <div class="col-md-6" id="username">
            <label for="" (click)="savevisit(p.accountId)">{{p.name}}</label>
        </div>
        <div class="col-md-6" id="date">
            <label for="">{{p.date | timeAgo}}</label>
        </div>
        
    </div>
    <div id="description">
        <p for="">{{p.text}}</p>
    </div>
    <iframe [class.thumbnail]="thumbnail" [src]='sanitizer.bypassSecurityTrustResourceUrl(p.link)' width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe> 
    <div id="container" class="row">
        <div id="like" class="col-md-6">
            <button (click)="like(p.postId, p.accountId)">Like</button>
            <label for="">{{p.like}}</label>
        </div>
        <div id="follow" class="col-md-4">
            <button (click)="follow(p.accountId)">Follow</button>
        </div>
       
    </div>
    
</div>